/* Select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(84, 78, 78, 0.5);
    object-fit: cover;
}
/* nav */
nav {
    padding: 20px 0;
}
/* fieldset */
fieldset {
    width: fit-content;
    margin: 10px auto;
}
