/* Select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(84, 78, 78, 0.5);
    object-fit: cover;
}
/* nav */
nav {
    padding: 20px 0;
}
/* fieldset */
fieldset {
    width: fit-content;
    margin: 10px auto;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

/* card for medium > */
@media screen and (min-width: 600px) {
    .card {
        width: max-content;
        border-radius: 10px;
        box-shadow: 1vw 2vw 1vw rgba(95, 121, 121, 0.7);
    }
    .card img {
        width: 16rem;
        object-fit: cover;
    }
}